*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}

nav>ul>li{
    display: flex;
    justify-content: space-evenly;
    padding-top: 8px;
    text-transform: capitalize;
}
.contner{
    background: rgba(230, 230, 230, 0.686);
 
 
    
}
nav>ul>li:hover{
    border-bottom: 1px solid black;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    color: black;
}



.megamenu li a {
    color: rgb(91, 88, 88);
   
}

.megamenu{
    position: absolute;
    width: 100%;
    top: 80%;
    height: fit-content;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    left: 0px;
   border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    line-height: 2;
    
}

nav ul li:hover .megamenu{
    
    opacity: 1  ;
    visibility: visible;
    top: 100%;
    box-shadow: 1px 1px 12px   gray;
    
}
